<p id="notice"><%= notice %></p>

<p>
  <b>Id1:</b>
  <%= @exchange.id1 %>
</p>

<p>
  <b>Id2:</b>
  <%= @exchange.id2 %>
</p>

<p>
  <b>Count:</b>
  <%= @exchange.count %>
</p>


<%= link_to 'Edit', edit_exchange_path(@exchange) %> |
<%= link_to 'Back', exchanges_path %>
