<%= form_for(@count) do |f| %>
  <% if @count.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@count.errors.count, "error") %> prohibited this count from being saved:</h2>

      <ul>
      <% @count.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :episode_id %><br />
    <%= f.text_field :episode_id %>
  </div>
  <div class="field">
    <%= f.label :speaker_id %><br />
    <%= f.text_field :speaker_id %>
  </div>
  <div class="field">
    <%= f.label :word_id %><br />
    <%= f.text_field :word_id %>
  </div>
  <div class="field">
    <%= f.label :count %><br />
    <%= f.text_field :count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
